@import "tailwindcss";



 html { scroll-behavior: smooth; }
        .glass { backdrop-filter: blur(10px); color: black!important; background: rgba(255, 255, 255, 0.521); }
        .glass-dark { backdrop-filter: blur(10px); background: rgba(0, 0, 0, 0.479); }

  body {
  cursor: url('/cursor.png') 16 16, auto;
  background: black;  /* fallback for old browsers */
  
}

button:hover, a:hover {
  cursor: url('/hand.png') 16 16, pointer;
}


       /* Global scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1f1c2c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2f5fff94, #e21e7680);
  border-radius: 10px;
  box-shadow: 0 0 10px #3441fcff;  /* glow */
}


